@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

body {
   background-color: #08152a;

}


.profile-pic{
display: block;
margin-left: auto;
margin-right: auto;
margin-top:5%;
height: auto;
max-width: 135px;
border-radius: 50%;
border: 5PX solid #efedee;
border-image: round;

}

.profile-name{
color: rgb(244, 247, 249);
    text-align: center;
    padding: 30px;
    font-size: 40px;

}
.text{
    color: rgb(245, 239, 239);
    text-align: center;
    padding: 10px;
    font-size: 25px;
    
}
 
 
.link-bio{



    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    gap: 20px

    
    }
    
    .link-bio a{
    background-color: #f0eeee ;
    color: black;
    padding: 10px;
    width: 40%;
    text-decoration: none;
    text-align: center;
    text-transform: lowercase;
    font-size: 20px;
    font-weight: bold;
    border: solid 2px #ffffff ;
    border-radius: 10px;
    
    }
    .link-bio  a:hover{
    background-color: #2c2c2c;
    color: rgb(254, 253, 253);
    
    
    }